@model IEnumerable<Seenit.Data.Models.Post>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Seenit</h1>
    <p class="lead">You Seen't something, let us know by telling us you Seenit</p>
</div>

<p>
    @Html.ActionLink("New Post", "CreatePost")
</p>

<div>
    @foreach (var item in Model)
    {
        <hr />
        <dl>
            <dt>
                @Html.DisplayFor(modelItem => item.Title)
            </dt>
            <dd>
                by @Html.DisplayFor(modelItem => item.Username)
            </dd>
            <dd>
                @Html.ActionLink("View Post", "PostDetails", new { id = item.ID })
            </dd>

        </dl>
    }
</div>